.App {
  text-align: center;
}
body{
  background-color: #008080;

}
.my-color{
  background-color: #e6e6fa;
}
.nav-color{
  background-color: #f8f9fa;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #4169e1; /* Replace with your desired color */
  border-radius: 50%;
  animation: spin 1s infinite linear;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.password-input-container {
  display: flex;
  align-items: center;
}

input {
  padding-right: 40px; /* Add some space for the button on the right */
}

.password-toggle-button {
  position: absolute;
  top: 34.5%;
  right: 51%; /* Adjust the value to fine-tune the button's position */
  background: transparent;
  border: none;
  cursor: pointer;
}

/* .password-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-list-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
 
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
} */
.password-list-container {
  overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .password-list-container {
    overflow-x: hidden; 
  }

  th, td {
    padding: 2px;
    font-size: 15px;
  }




 
  tr {
    display: block;
    border-bottom: 1px solid #ddd;
  }

  td {
    margin-bottom: 8px;
  }
}

.password-list-table th,
.password-list-table td {
  padding: 10px;
}

.password-list-table th {
  background-color: #f1f1f1;
}

.password-list-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.password-list-table button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.password-list-table button:hover {
  color: #000;
}

.password-list-table svg {
  vertical-align: middle;
  margin-right: 5px;
}


.password-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; 
  /* display: inline-block;
  left: 50%;
  margin-top: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ddf3f04e;
  /* display: inline-block;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  height: 100%; */
}


.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

.input-field {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 14px;
}

.generate-btn {
  width: 150px;
  height: 40px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.generate-btn:hover {
  background-color: #2980b9;
}

/* .generated-password {
  margin-top: 20px;
}

.password-text {
  font-size: 24px;
  font-weight: bold;
}
.copy-btn {
  padding: 8px 8px;
  background-color: #3498db;
  color: #fff; 
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #2980b9;
} */
.generated-password {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.copy-btn {
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #2980b9;
}

.google-btn{
  height: 10%;
  width: 100%;
}